DATABASE_URL="postgresql://user:password@localhost:5432/diary?schema=public"
PORT=3001

AI_SERVICE_URL="http://localhost:8000"

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

FCM_SERVER_KEY=

REDIS_URL="redis://localhost:6379"

AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
